<div *ngIf="!_isClicked" class="require-button my-button">
    <button type="button" class="btn btn-primary my-class" aria-label="Left Align" (click)="buttonClick()">
        {{ _buttonText }}
        <div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </button>
    <div class="my-errot-text">{{ _erroText }}</div>
</div>
<div *ngIf="_isClicked" class="my-waether">
    <div class="media my-media">
        <div class="media-left">
            <img class="media-object" src="{{ _weatherElement.weatherIconURL }}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ _weatherElement.name }} {{ _weatherElement.country }}</h4>
            <p>{{ _weatherElement.weather }}</p>
            <span>{{ _weatherElement.temp }} C</span>
        </div>
    </div>
</div>
<div *ngIf="_readyForLoading10Cities">
    <div *ngFor="#weather of _weatherArray">
        <div class="media my-media">
            <div class="media-left">
                <img class="media-object" src="{{ weather.weatherIconURL }}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ weather.name }} {{ weather.country }}</h4>
                <p>{{ weather.weather }}</p>
                <span>{{ weather.temp }} C</span>
            </div>
        </div>
    </div>
</div>