.my-class {
    width: 260px;
}

.my-errot-text {
    color: red;
}

.my-media,
.my-waether,
.my-button {
    padding: 6px;
    width: 320px;
}

.my-waether {
    padding-bottom: 12px;
    background-color: lightskyblue;
}